@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');
/* Обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    min-height: 100%;
    line-height: 1;
    font-size: 16px;
    color:#000;
    background: #f6f6f6;
}
/* ----------------------------------------------------------------------------- */

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
}

.todo-container {
    min-width: 100%;
    margin: 30px 0 0 0;
}

.header-container {
    display: flex;
    padding: 0 16px;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    height: 40px;
    background: #a6a6a6;
    border-radius: 4px;
}

.header-titles {
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    color: #f9f9f9;
}

.material-icons {
    color: rgba(255, 255, 255, 1);
}

.create-btn {
    float: right;
    margin: 15px 1px 2px 0;
    font-family: 'Roboto Mono', monospace;
    cursor: pointer;
    background: cornflowerblue;
    color: #f9f9f9;
    height: 27px;
    width: 105px;
    border-radius: 5px;
}

.create-btn:hover {background: dodgerblue;}

.create-btn:active {transform: translateY(1px);}

.create-form {
    display: flex;
    flex-direction: column;
    max-width: 25%;
    margin: 70px auto;
}

.create-input {
    height: 35px;
    padding: 5px 5px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    border-radius: 4px;
    border: 0.01rem solid grey;
}

.create-input:focus {
    outline-width: 0;
}

.create-radio{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 14px;
}

.create-task-div {
    display: flex;
}

.create-task-div label,
.create-randomThought-div label,
.create-idea-div label {
    padding: 0 5px;
}

.create-randomThought-div {
    display: flex;
    margin-top: 4px;
}

.create-idea-div {
    display: flex;
    margin-top: 4px;
}

.create-textarea {
    resize: none;
    height: 75px;
    padding: 5px 5px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    border-radius: 4px;
    border: 0.01rem solid grey;
}

.create-textarea:focus {
    outline-width: 0;
}

.crt-submit-btn {
    margin: 15px auto;
    font-family: 'Roboto Mono', monospace;
    cursor: pointer;
    background: cornflowerblue;
    color: #f9f9f9;
    height: 27px;
    width: 105px;
    border-radius: 5px;
}

.crt-submit-btn:hover {background: dodgerblue;}

.crt-submit-btn:active {transform: translateY(1px);}

.notes {}

.note-item {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    padding: 0 4px;
    height: 48px;
    background: #cfc5e4;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 14px;
    border-radius: 4px;
    align-items: center;
}

.note-columns {
    width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.note-columns:not(:first-child) {
    color: #6b6b6b;
}

.button-panel {
    padding-right: 10px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.edit-button {
    cursor: pointer;
    padding-right: 4px;
}

.edit-button:hover {color: dodgerblue;}

.edit-button:active,
.archive-button:active,
.delete-button:active
{transform: translateY(1px);}

.archive-button {
    cursor: pointer;
    padding-right: 4px;
}

.archive-button:hover {color: green;}

.delete-button {
    cursor: pointer;
}

.delete-button:hover {color: red;}

.fall-form {
    transition: all 0.5s ease;
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}